.our_team-header-heading_text{
    font-family: "Spectral", serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #bc6e44;
}
.our_team{
    background-image: url(/img/img_about_us_our_team/background.svg);
    /* background-position:; */
    padding-top: 110px;
    padding-bottom: 90px;
}
.our_team-content{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 100px 45px;
}
.our_team-right{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.our_team-left{
    max-width: 25%;
}
.our_team-left,img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 65.198% 50%;
}
.our_team-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_team-header-main_text{
    font-family: "Cormorant Infant", serif;
    font-size: 52px;
    font-weight: 400;
    color: black;
}
.description{
    color: #837d71;
    font-family: "Spectral", serif;
    font-size: 19px;
}
.proffesion{
    color: #bc6e44;
    font-size: inherit;
    font-style: italic;
}
.name_surname{
    color: black;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 25px;
}
.person_image{
    img{
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }
    
    
}
@media (max-width:780px) {

}