.create-wines {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.create-wines-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* width: a; */
}

.create-wines-header__title {
  color: var(--title-color);
  font-size: 12px;
  word-wrap: break-word;
}

.create-wines-header__text {
  font-size: 38px;
  word-wrap: break-word;
}

.create-wines-header__subtitle {
  font-size: 19px;
  color: var(--text-color);
}

.create-wines-carousel {
  display: flex;
  position: relative;
  width: 80%;
  overflow: hidden;
}

.welcome {
  width: 90%;
}

.welcome-content {
  background-image: url(../img/about-us-welcome/bg.png);
  background-size: cover;
  padding: 40px;
  color: #fff;
}

.welcome-title {
  color: #fff;
}
.welcome-title__text {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
.welcome-title__subtitle {
  font-size: 30px;
  font-family: "Cormorant Infant", serif;
}
.welcome-text {
  display: flex;
  flex-direction: column;
}

.welcome-text {
}

.welcome-text__text {
  display: flex;
}

.welcome-text__text::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M72,32V14H27v18c0,10.886,7.73,19.965,18,22.049V77l-18,9h18h9h18l-18-9V54.049C64.27,51.965,72,42.886,72,32z' fill='%23FFF'/%3E%3C/svg%3E");
  margin-right: 8px; /* Отступ справа для разделения иконки и текста */
  vertical-align: middle; /* Для вертикального выравнивания с текстом */
  height: 20px;
  width: 20px;
  padding-top: 3px;
}

.welcome-subtext {
  font-size: 19px;
}

.welcome-button {
  /* padding-top: 20px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100px;
  background-color: none; /* Измените на нужный цвет фона */
}

.welcome-button__btn {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff; /* Цвет текста */
  background-color: transparent;
  border: 2px solid #fff; /* Цвет рамки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.welcome-button__btn:hover {
  color: #000; /* Цвет текста при наведении, аналогичный фону */
  background-color: #fff; /* Белый фон при наведении */
  cursor: pointer;
}

.welcome-cards__row {
  color: #a05a2c; /* Цвет текста при наведении */
  background-color: #fff; /* Цвет фона кнопки при наведении */
  cursor: pointer;
}

.welcome-cards__card {
}
.welcome-card {
}
.welcome-card__text {
}
.welcome-card__text--title {
}
.welcome-card__text--subtitle {
}

@media (min-width: 768px) {
  .create-wines-header__text {
    font-size: 32px;
  }

  .create-wines-header__subtitle {
    font-size: 16px;
  }

  .welcome-text {
    flex-direction: column;
  }

  .card {
    min-width: 25%;
  }

  .welcome-title__subtitle {
    font-size: 30px;
  }

  .welcome-text__text::before {
    height: 20px;
    width: 20px;
  }

  .welcome-subtext {
    font-size: 16px;
  }

  .welcome-button {
    /* height: 150px; */
  }

  .welcome-button__btn {
    padding: 15px 25px;
    font-size: 18px;
  }
}

@media (min-width: 968px) {
  .create-wines-header__text {
    font-size: 48px;
  }

  .create-wines-header__subtitle {
    font-size: 24px;
  }

  .welcome-text {
    flex-direction: row;
  }

  .welcome-text > *:last-child {
    margin-left: 8px;
  }

  .card {
    min-width: 25%;
  }

  .welcome-title__subtitle {
    font-size: 40px;
  }

  .welcome-text__text::before {
    height: 20px;
    width: 20px;
  }

  .welcome-subtext {
    font-size: 24px;
  }

  .welcome-button {
    /* height: 150px; */
  }

  .welcome-button__btn {
    padding: 15px 30px;
    font-size: 20px;
  }
}
