.header_block{
    background-image: linear-gradient(rgba(42, 40, 36, 0.5), rgba(42, 40, 36, 0.6)),url(/img/about_us-header_page/page-title1.jpg);
    background-size: cover;
    background-position:bottom;
    min-height: 470px
}
.main_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:75px;
    padding: 0;
    color: white;
}
.main_text h1 {
    font-size: 45px;
    font-weight: 400;
    font-style: italic; /* Adjust the font size to your desired value */
}

