.our_team-header-heading_text{
    font-family: "Spectral", serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #bc6e44;
}
.our_team-header-main_text{
    font-family: "Cormorant Infant", serif;
    font-size: 52px;
    font-weight: 400;
    color: black;
}
.description{
    color: #837d71;
    font-family: "Spectral", serif;
    font-size: 19px;
}
.proffesion{
    color: #bc6e44;
    font-size: inherit;
    font-style: italic;
}
.name_surname{
    color: black;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 25px;
}