.our_team-header-heading_text{
    font-family: "Spectral", serif;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #bc6e44;
}
.our_team{
    background-image: url(/img/img_about_us_our_team/background.svg);
    /* background-position:; */
    padding-top: 110px;
    padding-bottom: 90px;
}
.our_team-content{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 100px 45px;
}
.our_team-right{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.our_team-left{
    max-width: 25%;
}
.our_team-left img{
    width: 300px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 65.198% 50%;
}
.our_team-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.our_team-header-main_text{
    font-family: "Cormorant Infant", serif;
    font-size: 52px;
    font-weight: 400;
    color: black;
}
.description{
    color: #837d71;
    font-family: "Spectral", serif;
    font-size: 19px;
}
.proffesion{
    color: #bc6e44;
    font-size: inherit;
    font-style: italic;
}
.name_surname{
    color: black;
    font-family: "Cormorant Infant", serif;
    font-weight: 400;
    font-size: 25px;
}
.personality{
    margin-top: 10px;
}
.person_image{
    img{
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }
    
    
}
@media (max-width:1400px) {
    
    .our_team{
        padding: 90px 70px;
    }
    .our_team-content{
        display: flex;
        flex-direction: column;
      }
      .our_team-right{
        display: grid;
        padding: 15px;
      }
      .our_team-left{
        max-width: 100%;
      }
      .our_team-left img{
        width: 100%;
      }


}
.accordion-header::after {
    border: none;
  }
  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
  .accordion {
    --bs-accordion-active-color: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: none;
  }
.button_text{
    font-style: italic;
    font-weight: 400;   
}
.accordion-body{
    font-size: 18px;
}