.create-wines {
  padding-top: 90px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-wines-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.create-wines-header__title {
  color: var(--title-color);
  font-size: 12px;
  word-wrap: break-word;
}

.create-wines-header__text {
  font-size: 38px;
  word-wrap: break-word;
}

.create-wines-header__subtitle {
  font-size: 19px;
  color: var(--text-color);
}

.create-wines-carousel {
  display: flex;
  position: relative;
  width: 80%;
  overflow: hidden;
}

.welcome {
  width: 90%;
}

.welcome-content {
  background-image: url(../img/about-us-welcome/bg.png);
  background-size: cover;
  padding: 40px;
  color: #fff;
  background-position: right;
}

.welcome-title {
  color: #fff;
}

.welcome-title__text {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
}
.welcome-title__subtitle {
  font-size: 30px;
  font-family: "Cormorant Infant", serif;
}
.about-us__welcome-text {
  display: flex;
  flex-direction: column;
}

.welcome-text__text {
  display: flex;
}

.welcome-text__text::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M72,32V14H27v18c0,10.886,7.73,19.965,18,22.049V77l-18,9h18h9h18l-18-9V54.049C64.27,51.965,72,42.886,72,32z' fill='%23FFF'/%3E%3C/svg%3E");
  margin-right: 8px; /* Отступ справа для разделения иконки и текста */
  vertical-align: middle; /* Для вертикального выравнивания с текстом */
  height: 20px;
  width: 20px;
  padding-top: 3px;
}

.welcome-subtext {
  font-size: 19px;
}

.welcome-button {
  display: flex;
  align-items: center;
  height: 100px;
}

.welcome-button__btn {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff; /* Цвет текста */
  background-color: transparent;
  border: 2px solid #fff; /* Цвет рамки */
  text-decoration: none; /* Убираем подчеркивание у ссылки */
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.welcome-button__btn:hover {
  color: #000; /* Цвет текста при наведении, аналогичный фону */
  background-color: #fff; /* Белый фон при наведении */
  cursor: pointer;
}

.welcome-cards__row {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome-cards__row > :nth-child(1) {
  background-image: url(../img/about_us-create_wines/create_wines_card_2.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.welcome-cards__row > :nth-child(2) {
  background-image: url(../img/about_us-create_wines/create_wines_card_1.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.welcome-cards__row > :nth-child(3) {
  background-image: url(../img/about_us-create_wines/create_wines_card_3.webp);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.welcome-cards__card {
  min-width: 100%;
}

.welcome-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}

.welcome-card__text--title {
  color: var(--description-text-color);
  font-size: 24px;
}

.welcome-card__text--subtitle {
  color: var(--text-color);
  font-size: 17px;
}

.welcome-card__text--link {
  color: var(--title-color);
  font-size: 17px;
  text-decoration: none;
}

.welcome-card__text--link:hover {
  color: var(--title-color);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .create-wines-header__text {
    font-size: 42px;
  }

  .create-wines-header__subtitle {
    font-size: 22px;
  }

  .about-us__welcome-text {
    flex-direction: column;
  }

  .card {
    min-width: 25%;
  }

  .welcome-title__subtitle {
    font-size: 30px;
  }

  .welcome-text__text::before {
    height: 20px;
    width: 20px;
  }

  .welcome-subtext {
    font-size: 16px;
  }

  .welcome-button__btn {
    padding: 15px 25px;
    font-size: 18px;
  }

  .welcome-cards__card {
    min-width: 47%;
  }
}

@media (min-width: 968px) {
  .create-wines-header__text {
    font-size: 48px;
  }

  .create-wines-header__subtitle {
    font-size: 24px;
  }

  .about-us__welcome-text {
    flex-direction: row;
  }

  .about-us__welcome-text > *:last-child {
    margin-left: 8px;
  }

  .card {
    min-width: 25%;
  }

  .welcome-title__subtitle {
    font-size: 40px;
  }

  .welcome-subtext {
    font-size: 24px;
  }

  .welcome-button__btn {
    padding: 15px 30px;
    font-size: 20px;
  }

  .welcome-cards__card {
    min-width: 30%;
  }

  .welcome-cards__row {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
