.events {
  background-color: var(--background-color);
  padding: 90px 24px;
}
.event {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.event-left {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.events-header {
  text-align: start;
}
.events-header__title {
  font-family: "Spectral", serif;
  font-size: 12px;
  letter-spacing: 2.4px;
  color: var(--title-color);
}
.events-header__description {
  font-family: "Cormorant Infant", serif;
  font-size: 38px;
  font-weight: 400;
  padding: 15px 0;
}
.events-header__description-text {
  font-family: "Spectral", serif;
  font-size: 19px;
  color: var(--text-color);
}
.event-details {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.event-details__title {
  font-family: "Cormorant Infant", serif;
  font-size: 28px;
  font-weight: 400;
  padding-top: 10px;
}
.event-details__date,
.event-details__time {
  font-family: "Spectral", serif;
  font-style: italic;
  font-size: 17px;
  font-weight: 300;
  color: var(--text-color);
}
.event-details__time {
  padding-bottom: 15px;
}
.contact {
  display: flex;
  padding: 20px;
}
.contact-icon__image {
  width: 26px;
  height: 26px;
  margin-right: 20px;
}
.contact-details__label {
  font-family: "Spectral", serif;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.contact-details__info {
  font-family: "Spectral", serif;
  font-size: 17px;
  color: var(--text-color);
}
.distribution__footer-warning {
  font-family: "Spectral", serif;
  font-size: 15px;
  color: var(--text-color);
  font-style: italic;
}
.image-container {
max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .events {
    padding: 90px 30px;
  }
  .event{
    flex-direction: row;
  }
  .event-left {
    display: grid;
   grid-template-columns: 50% 50%;
  }
  .event-second-column{
    margin-right: 60px;
  }
  .events-header {
    text-align: center;
  }
  .events-header__description {
    font-size: 52px;
  }
  .image-container {
    margin-left: 50px;
  }
}
