.footer {
  background: var(--description-text-color);
  color: var(--footer-text-color);
}

.footer__logo {
  width: 85px;
}
.footer__text-description {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.footer__contact-email,
.footer__contact-phone {
  margin-top: 10px;
}

.footer__contact-email a,
.footer__contact-phone a {
  font-style: italic;
  color: var(--text-button-color);
  text-decoration: none;
  font-size: 30px;
}
.footer__contact-phone a {
  font-size: 24px;
}
.footer__nav ul {
  list-style-type: none;
  margin: 0;
}
.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__contact-email a:hover,
.footer__contact-phone a:hover,
.footer__nav a:hover {
  text-decoration: underline;
  color: var(--text-button-color);
}
.footer__nav a {
  color: var(--footer-text-color);
  text-decoration: none;
}

.footer__general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 24px 0px 24px;
}

.footer__contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__contact-text {
  color: var(--title-color);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  margin-top: 25px;
}

.footer__general-info:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 80px;
  padding-top: 0;
  background-color: var(--footer-text-color);
}
.footer__nav-bar ul {
  padding: 0;
}
.footer__nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}
.footer__nav-item a {
  font-size: 17px;
  letter-spacing: 1.7px;
}
.footer__nav-item {
  font-size: 17px;
  letter-spacing: 1.7px;
  padding: 10px 5px;
}

.footer__copyright {
  margin-top: 20px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer__general-info {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 80px 32px;
    justify-content: space-between;
  }
  .footer__text,
  .footer__contact-info {
    flex: 1;
  }
  .footer__general-info:after {
    margin-bottom: -80px;
  }
  .footer__text {
    align-items: self-start;
  }
  .footer__text-description {
    text-align: left;
  }
  .footer__contact-info {
    align-items: end;
  }
  .footer__nav-bar {
    flex-direction: row;
    padding: 30px 32px;
    align-items: center;
  }
  .footer__copyright {
    flex: 1;
  }
  .footer__nav {
    flex: 2;
  }
  .footer__contact-email a {
    font-size: 33px;
  }
  .footer__contact-phone a {
    font-size: 26px;
  }
}

@media (min-width: 992px) {
  .footer__text-description {
    font-size: 15px;
  }
  .footer__contact-email a {
    font-size: 36px;
  }
  .footer__contact-phone a {
    font-size: 28px;
  }
  .footer__copyright {
    flex: 1;
  }
  .footer__nav {
    flex: 3;
  }
  .footer__nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__nav-item a {
    font-size: 13px;
  }
  .footer__copyright {
    text-align: right;
    padding-left: 20px;
    margin: 0;
    font-size: 15px;
  }
}
