header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/header.menu/header-cover.jpg');
    background-size: cover;
    background-position: center;
    height: 1100px;
    color: gray;
}

.header__main-logo {
    width: 100px;
    height: 100px;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header__menu-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header__menu-link {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    margin-top: 20px;
    color: rgb(162, 169, 173);
    text-decoration: none;
    font-size: 12px;
    padding: 2px 20px;
}

