/* TEST CODE WITHOUT REFACTORING */

.address {
    display: none;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-color-header-address);
    font-style: italic;
    min-height: 52px;
    opacity: 0.5;
}

.address__phone,
.address__post {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-button-color);
    width: 33.3%;
    text-align: center;
}

.address__number,
.address__post {
    color: var(--text-color);
    margin: 0 5px;
    text-decoration: none;
}

.address__number:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: var(--text-color);
}

.address__visit {
    color: var(--text-button-color);
    font-weight: bold;
    padding-right: 3px;
}

@media (min-width: 901px) {
    .address {
        display: flex;
    }
}