/* TEST CODE WITHOUT REFACTORING */

.header {
    background-image: linear-gradient(rgba(42, 40, 36, 0.85), rgba(42, 40, 36, 0.6)), url('../img/header.menu/header-cover.jpg');
    background-size: cover;
    background-position: center;
    min-height: 1100px;
    max-width: 100%;
    color: var(--text-color);
  }

.header__menu, .welcome-text {
    max-width: 1200px;
    margin: auto;
}

.header__main-logo {
    display: none;
}

.header__menu {
    display: none;
}



.navbar-toggler {
    z-index: 1;
    background-color: rgba(110, 82, 118, 0.5);
  }

.header__menu-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header__menu-item {
    position: relative;
}

.header__menu-link {
    justify-content: space-around;
    font-family: "Spectral", serif, bold;
    color: rgb(162, 169, 173);
    text-decoration: none;
    font-size: 14px;
    padding: 2px 20px;
    position: relative;
}

.header__menu-item:hover .header__menu-link {
    color: var(--text-button-color);
}

.header__menu-link::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-button-color);
    transition: width 0.5s ease;
}

.header__menu-item:hover .header__menu-link::before {
    width: 100%;
}

@media (min-width: 990px) {
    .navbar {
        display: none;
    }

    .header__menu {
        display: flex;
        justify-content: space-around;
    }

    .header__main-logo {
        display: flex;
        justify-content: flex-start;
        max-width: 100px;
        max-height: 100px;
        margin-top: 2%;
    }
}
