@import url(global.css);
@import url(contact_us.header-hero.css);
@import url(contact_us.section-distribution.css);
@import url(common.header-address.partial.css);
@import url(common.header-menu.partial.css);

header {
    background-image: linear-gradient(rgba(42, 40, 36, 0.85), rgba(42, 40, 36, 0.6)), url('../img/img_contact_us-header/grape-photo.jpeg');  
    background-size: cover;
    background-position: center;
    min-height: 468px;
}
