* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    --title-color:#bc6e44;
    --text-color:#837d71;
}

img {
    display: block;
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: auto;
}
