.navbar-brand {
    max-width: 100px;
    max-height: 100px;
    margin: 20px;
}

.navbar-toggler {
    margin: 20px;
}

.welcome-text__main {
    padding-top: 150px;
    display: block;
    font-family: "Spectral", serif;
    text-align: center;
    color: var(--title-color);
    font-size: 12px;
    font-weight: bold;
}

.welcome-text__enjoy {
    margin-top: 20px;
    display: block;
    font-family: "Spectral", serif;
    text-align: center;
    color: var(--text-button-color);
    font-size: 56px;
}

.welcome-text__invitation-visit {
    margin-top: 30px;
    display: block;
    font-family: "Spectral", serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.76);
    font-size: 18px;
}

.header-card {
    display: grid;
    gap: 5px;
    margin-top: 10%;
}

.header-card__item {
    margin: 10% 5% 5% 5%;
    font-family: "Spectral", serif;
    text-align: left;
    text-align: center;


    .header-card__item-link:hover {
        text-decoration: underline;
        text-decoration-thickness: 2.5px;
        color: var(--text-button-color);
    }

    .header-card__item-right-arrow {
        color: var(--text-button-color);
        font-weight: bold;
        position: relative;
        top: -2px;
    }

    .header-card__link-wrapper {
        width: 100%;
    }

}

.header-card__item-link {
    color: var(--text-button-color);
    font-size: 26px;
    text-decoration: none;
    margin-right: 5px;
}

.header-card__item-text {
    display: block;
    margin-top: 15px;
    transform: skewX(-10deg);
    color: var(--title-color);
    font-size: 16px;
}

.white__underline {
    display: block;
    margin-top: 13px;
    border-top: 2px solid rgba(250, 248, 242, 0.1);
    width: 100%;
}

@media (min-width: 900px) {
    .welcome-text__enjoy {
        font-size: 72px;
    }

    .header-card {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 300px;
        margin-bottom: 100px;
    }

    .header-card__item {
        text-align: left;
    }
}