@import url(global.css);
@import url(common.header-address.partial.css);
@import url(common.header-menu.partial.css);
@import url(index.header-welcomepage.partial.css);
@import url(index.section-categories.partial.css);
@import url(index.section-benefits.css);
@import url(index.section-testimonials.partial.css);
@import url(index.section-blog.partial.css);

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/header.menu/header-cover.jpg');
    background-size: cover;
    background-position: center;
    min-height: 1100px;
    color: var(--text-color);
}