:root {
  --font-spectral: spectral;
  --font-cormorant-infant: Cormorant Infant;
  --color-primary: #2a2824;
  --color-accent: #bc6e44;
  --color-secondary: #837d71;
  --color-tertiary: #544e4c;
  --color-background: #ffffff;
  --color-button-background: var(--color-accent);
  --color-button-text: #ffffff;
}
.section-categories {
  padding: 90px 0 30px;
  background-image: url(../img/img_section-categories/categories-wallper.png);
  background-size: cover;
  background-position: center;
}
.categories__content {
  padding: 0 30px;
}
.categories__title {
  color: #bc6e44;
  font-family: "Spectral" serif;
  font-size: 16px;
}
.categories__description {
  display: flex;
  justify-content: flex-start;
  font-family: var(--font-cormorant-infant);
  font-size: 38px;
  color: #2a2824;
}
.categories__action {
  color: #837d71;
  font-family: var(--font-spectral);
  font-size: 17px;
}
.categories__action_list {
  color: var(--color-secondary);
  font-family: var(--font-spectral);
}
.categories__action_list {
  display: flex;
  flex-direction: row;
  font-family: "Cormorant Infant" serif;
  color: #544e4c;
}
.categories__link {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  text-decoration: underline;
  color: var(--color-primary);
  font-size: 28px;
}
.categories__additional-info {
  padding: 20px 0;
  color: var(--color-secondary);
  font-family: var(--font-spectral);
  font-size: 17px;
}
@media (min-width: 768px) {
  .categories__content {
    display: flex;
    flex-direction: row;
  }
}
.section-categories__items {
  padding: 30px 0 90px;
  display: flex;
  flex-direction: column;
}
.section-categories__item {
  background-color: var(--color-background);
  /*max-width: 20%;
  max-height: 20%;*/
  margin: 50px 30px 0 30px;
  padding: 0 15px;
  border: #2a2824;
  justify-items: center;
}
@media (min-width: 768px) {
  .item-block-left,
  .item-block-right {
    display: flex;
  }
}
@media (min-width: 1050px) {
  .section-categories__items {
    display: flex;
    flex-direction: row;
  }
}
.section-categories__item-image {
  max-width: 80px;
  max-height: 80px;
}
.section-categories__item-title {
  font-family: var(--font-cormorant-infant);
  font-weight: 500;
  font-size: 26px;
  color: var(--color-primary);
}
.section-categories__item-description {
  color: var(--color-secondary);
  font-family: var(--font-spectral);
}
.section-categories__item-button__learn {
  margin-bottom: 30 px;
  padding: 10px 15px;
  background-color: var(--title-color);
  border-color: var(--text-button-color);
  border: solid 1px;
  font: var(--font-spectral);
  font-size: 15px;
  color: var(--color-button-text);
}
