.welcome-text__main {
    margin-top: 200px;
    display: block;
    font-family: sans-serif;
    text-align: center;
    color: #bc6e44;
    font-size: 11px;
}

.welcome-text__enjoy {
    margin-top: 20px;
    display: block;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 72px;
}

.welcome-text__invitation-visit {
    margin-top: 30px;
    display: block;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 13px;
}