.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+CiAgPHBhdGggZmlsbD0iI2JjNmU0NCIgZD0iTTE5LjUzMyAxNWwtOS4xLTkuNDVjLS41NzctLjYtLjU3Ny0xLjUgMC0yLjEuNTc4LS42IDEuNDQ1LS42IDIuMDIzIDBsMTAuMTEgMTAuNWMuMjkuMy40MzQuNzUuNDM0IDEuMDUgMCAuNDUtLjE0NC43NS0uNDMzIDEuMDVsLTEwLjExMSAxMC41Yy0uMjkuMy0uNTc4LjQ1LTEuMDEyLjQ1LS40MzMgMC0uNzIyLS4xNS0xLjAxLS40NS0uNTc4LS42LS41NzgtMS41IDAtMi4xbDkuMS05LjQ1eiIgLz4KPC9zdmc+");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMCAzMCI+CiAgPHBhdGggZmlsbD0iI2JjNmU0NCIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDE1IDE1KSIgZD0iTTE5LjUzMyAxNWwtOS4xLTkuNDVjLS41NzctLjYtLjU3Ny0xLjUgMC0yLjEuNTc4LS42IDEuNDQ1LS42IDIuMDIzIDBsMTAuMTEgMTAuNWMuMjkuMy40MzQuNzUuNDM0IDEuMDUgMCAuNDUtLjE0NC43NS0uNDMzIDEuMDVsLTEwLjExMSAxMC41Yy0uMjkuMy0uNTc4LjQ1LTEuMDEyLjQ1LS40MzMgMC0uNzIyLS4xNS0xLjAxLS40NS0uNTc4LS42LS41NzgtMS41IDAtMi4xbDkuMS05LjQ1eiIgLz4KPC9zdmc+");
}

.carousel-indicators [data-bs-target] {
  background-color: #bc6e44;
}

.container-testimonials {
  background-image: url("../img/img_section_testimonials/background.png");
  background-size: cover;
}

.testimonials-divider {
  height: 1px;
  width: 80%;
  background-color: rgba(84, 78, 76, 0.09);
  margin: 10px auto;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
  /* background-color: var(--background-color); */
  padding-top: 30px;
}

.carousel-item {
  height: 410px;
}

.testimonials-block__title {
  color: var(--title-color);
  font-size: 12px;
  letter-spacing: 2.4px;
}

.testimonials-block__text {
  font-size: 38px;
  margin-bottom: 20px;
}

.testimonials-block__subtitle {
  font-size: 19px;
  color: var(--text-color);
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  min-height: 100%;
}

.testimonial__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial__customer {
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial__comment {
  font-size: 17px;
  color: var(--text-color);
  margin-bottom: 20px;
  max-width: 700px;
}

.testimonial__date {
  font-size: 12px;
  color: var(--data-color);
  font-weight: 500;
}

.events {
  /* background-color: var(--background-color); */
  padding-bottom: 30px;
}

.events__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events__item {
  p {
    font-size: 17px;
    color: var(--text-color);
    font-family: "Spectral", serif;
  }

  img {
    margin-bottom: 15px;
  }

  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100%;
}

@media (min-width: 576px) {
  .testimonials {
    padding: 20px 15px;
    padding-top: 60px;
  }

  .carousel-item {
    height: 420px;
  }

  .testimonials-block__text {
    font-size: 42px;
  }

  .testimonials-block__subtitle {
    font-size: 21px;
  }

  .testimonial {
    padding: 70px;
  }

  .testimonial__img {
    width: 80px;
    height: 80px;
  }

  .testimonial__customer {
    font-size: 28px;
  }

  .testimonial__comment {
    font-size: 18px;
  }

  .testimonial__date {
    font-size: 13px;
  }

  .events__row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .events__item {
    .events__item--img {
      max-width: 200px;
      max-height: 200px;
    }

    height: 100%;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .testimonials {
    padding: 20px 15px;
    padding-top: 90px;
  }

  .carousel-item {
    height: 510px;
  }

  .testimonials-block__text {
    font-size: 48px;
  }

  .testimonials-block__subtitle {
    font-size: 24px;
  }

  .testimonial {
    padding: 100px;
  }

  .testimonial__img {
    width: 100px;
    height: 100px;
  }

  .testimonial__customer {
    font-size: 32px;
  }

  .testimonial__comment {
    font-size: 20px;
  }

  .testimonial__date {
    font-size: 14px;
  }

  .events__item {
    .events__item--img {
      min-width: 150px;
      min-height: 150px;
      max-width: 200px;
      max-height: 200px;
    }

    max-height: 100%;
    padding: 20px;
  }
}

@media (min-width: 920px) {
  .testimonial-carousel {
    max-width: 890px !important;
  }
}

@media (min-width: 978px) {
  .events__row {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1190px) {
  .testimonial-carousel {
    max-width: 1150px !important;
    width: 1150px !important;
  }
}

@media (min-width: 1500px) {
  .testimonial-carousel {
    max-width: 1450px !important;
    width: 1450px !important;
  }
}
