:root {
  --font-spectral: spectral;
  --font-cormorant-infant: Cormorant Infant;
  --color-primary: #2a2824;
  --color-accent: #bc6e44;
  --color-secondary: #837d71;
  --color-tertiary: #544e4c;
  --color-background: #ffffff;
  --color-button-background: var(--color-accent);
  --color-button-text: #ffffff;
}
  
.section-categories {
  padding: 110px 0 30px;
  background-image: url(../img/img_section-categories/categories-wallper.png);
  background-size: cover;
  background-position: top;
}

.categories__content {
  padding: 90px 0 30px;
}

.categories__text {
  padding: 0 24px;
}

.categories__title {
  color: var(--color-accent);
  font-family: var(--font-spectral);
  font-size: inherit;
}

.categories__description {
  display: flex;
  justify-content: flex-start;
  font-family: var(--font-cormorant-infant);
  font-size: 52px;
  color: var(--color-primary);
}

.categories__action,
.categories__action_list,
.categories__link,
.categories__additional-info {
  display: flex;
  color: var(--color-secondary);
  font-family: var(--font-spectral);
}

.categories__action_list {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-emphasis-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-family: var(--font-cormorant-infant);
  font-size: 36px;
}

.categories__link {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  text-decoration: underline;
  color: var(--color-primary);
}

.categories__additional-info {
  display: flex;
  color: var(--color-secondary);
  font-family: var(--font-spectral);
  font-size: 17px;
}

.section-categories__items {
  padding: 30px 0 90px;
  display: flex;
  justify-content: space-around;
}

.section-categories__item {
  background-color: var(--color-background);
  max-width: 20%;
  max-height: 20%;
  padding: 20px;
  display: flex;
  justify-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.section-categories__item-image {
  max-width: 80px;
  max-height: 80px;
}

.section-categories__item-title {
  font-family: var(--font-cormorant-infant);
  font-weight: 500;
  font-size: 26px;
  color: var(--color-primary);
}

.section-categories__item-description {
  color: var(--color-secondary);
  font-family: var(--font-spectral);
}

.section-categories__item-button {
  background-color: var(--color-button-background);
  font: var(--font-spectral);
  font-size: 15px;
  color: var(--color-button-text);
}

