.get-your-membership-right-now {
  background-color: brown;
  min-height: 400px;
  height: 100vh;
  background-image: url(../img/background_get-your-membership-right-now.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: left;
  align-items: left;
}
.get-your-membership-right-now__become-member {
  background-color: white;
  padding: 31px;
  margin: 10% 10%;
  height: fit-content;
  max-width: 400px;
  max-height: 450px;
  min-width: 220px;
}
.become-member__small--title {
  font-size: 12px;
  text-align: left;
  letter-spacing: 2.4px;
  font-family: "Spectral", serif;
  color: var(--title-color);
}

.become-member__title {
  font-size: calc(38px + 14 * (100vw / 1920));
  font-family: "Spectral", serif;
  text-align: left;
  font-optical-sizing: auto;
  font-weight: 500;
}

.become-member__text-block {
  font-size: 17px;
  color: var(--text-color);
  font-family: "Spectral", serif;
  text-align: left;
}
@media (max-width: 500px) {
  .become-member__title {
    font-size: calc(38px + (14 + 14 * 0.7) * ((100vw - 340px) / 1920));
  }
}
.get-your-membership-right-now__btn-group {
  display: flex;
}
.get-your-membership-right-now__btn-group--btn-item {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: var(--title-color);
  text-align: center;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 15px;
  margin-left: 0px;
  border: 1.6px solid var(--title-color);

  font-size: 16.5px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.get-your-membership-right-now__btn-group--btn-item-about-us {
  display: block;
  width: fit-content;
  height: fit-content;
  background-color: white;
  text-align: center;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 15px;
  margin-left: 0px;
  border: 1.6px solid var(--title-color);

  font-size: 16.5px;
  font-weight: 700;
  text-decoration: none;
  color: var(--description-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.get-your-membership-right-now__btn-group--btn-item:hover {
  background-color: var(--description-text-color);
  color: white;
  text-decoration: none;
}
.get-your-membership-right-now__btn-group--btn-item-about-us:hover {
  background-color: var(--title-color);
  color: white;
  text-decoration: none;
}
.get-your-membership-right-now__btn-group--btn-item:active {
  text-decoration: none;
}
.get-your-membership-right-now__btn-group--btn-item:visited {
  background-color: var(--title-color);
  text-decoration: none;
}
