<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACTS</title>
    <link rel="stylesheet" href="css/collection.css" />
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <address
        class="header__address"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="collection-header.partial.html"
      ></address>
    </header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="collection.section-wine-content.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="collection.section-nearesting-tasting.partial.html"
      ></section>
      <section class="tasting-menu">
        <div class="tasting-menu__content">
          <div class="tasting-menu__content__header">
            <div>
              <span>
                <em>~ TASTING MENU ~</em>
              </span>
            </div>
            <span>Current Tasting Menu.</span>
            <span
              >Here's a list of the wines we usually taste during visits.</span
            >
          </div>
          <div class="tasting-menu__content__list">
            <div>
              <ul>
                <li class="tasting-menu__content__list-item">
                  <span>
                    <em>2016 Hommage Blanc</em>
                  </span>
                  <span>Blend: 75% Roussanne, 25% Viognier</span>
                </li>
                <li class="tasting-menu__content__list-item">
                  <span>
                    <em>2016 La Rose</em>
                  </span>
                  <span>Blend: 56% Grenache, 30% Mourvedre & 14% Syrah</span>
                </li>
                <li class="tasting-menu__content__list-item">
                  <span>
                    <em>2015 Fleur de Solene</em>
                  </span>
                  <span
                    >Blend: 50% Syrah, 30% Cabernet Sauvignon & 20%
                    Grenache</span
                  >
                </li>
                <li class="tasting-menu__content__list-item">
                  <span>
                    <em>2015 Harmonie</em>
                  </span>
                  <span>Blend: 60% Grenache, 26% Mourvedre & 14% Syrah</span>
                </li>
                <li class="tasting-menu__content__list-item">
                  <span>
                    <em>2014 Hommage a Nos Pairs</em>
                  </span>
                  <span>Blend: 95% Syrah, 3% Grenache & 2% Viognier</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="schedule">
        <div class="schedule__content">
          <div class="schedule__content__info">
            <div>
              <span>
                <em>~ SCHEDULE ~</em>
              </span>
              <span>Schedule Your Tasting.</span>
              <span
                >Our Tasting Room is located on the top of the hilly vineyard
                and offers guided tastings of all our great wine selections.
                Come visit us to enjoy our wines and relax sipping a divine
                drink while we take care of the rest.</span
              >
            </div>
          </div>
          <div class="schedule__content__form">
            <div>
              <form
                class="schedule__content__form__form"
                action="#"
                method="POST"
              >
                <input
                  class="schedule__content__form__form__input"
                  type="text"
                  required
                  id="name"
                  name="name"
                  placeholder="Name"
                />
                <input
                  class="schedule__content__form__form__input"
                  type="text"
                  required
                  id="number"
                  name="number"
                  placeholder="Phone number"
                />
                <button
                  class="schedule__content__form__form__submit-button"
                  type="submit"
                >
                  Send a Request
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
