<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wine Club</title>
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="css/wineclub.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class = "wineclub__header">
      <address
        class="header__address"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.header-address.partial.html"
      ></address>
      <nav
        class="header__menu"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="common.header-menu.partial.html"
      ></nav>
      <div class = "wineclub__welcome-text-container">
        <h2 class = "wineclub__welcome-text-wine">Wine Club</h2>
        <span class = "wineclub__welcome-text-path">Home > <u>Wine Club</u></span>
      </div>
    </header>

    <main>
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="wineclub.main-howitworks.partial.html"
      ></div>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="wineclub.membership-benefits.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="wineclub.get-your-membership-right-now.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="common.footer.partial.html"
    ></footer>
  </body>
</html>
